body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(40, 40, 46);
}

#LogoPlace {
    width: 100%;
    height: fit-content;
    background-color: rgb(28, 29, 33);
    border-bottom: 1px solid;
    border-color: rgb(64, 64, 67);
    margin-bottom: 35px;
}

#LogoPlace #Logo {
    width: 198px;
    height: 109px;
    align-self: left;
}

#PatchNote {
    justify-self: center;
    width: 70%;
    height: fit-content;
    max-height: 300px;
    overflow: auto;
    margin: 20px;
    padding: 10px;
    background-color: rgb(28, 29, 33);
    text-align: left;
    color: white;
    font-size: 40px;
}

#PatchContents {
    justify-self: center;
    width: 90%;
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: inherit;
}

.MainContainer {
    display: flex;
    height: auto;
    justify-content: center;
}

#MainContents {
    padding: 5px;
    width: fit-content;
    min-width: 805px;
    background-color: rgb(28, 29, 33);
}

#NikkeSearch {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border: 1px;
    border-radius: 5px;
}

#NikkeSearch:focus {
    outline: none;
}

#Attributes {
    width: fit-content;
    padding: 5px;
}

.Attribute {
    display: flex;
}

.Attribute>p {
    min-width: 60px;
    color: white;
    display: flex;
    margin: 5px 5px 5px 0px;
    text-align: center;
}

.Attribute>label {
    color: white;
    width: 90px;
    align-self: center;
}

#NikkeList {
    height: 800px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

#NikkeList::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#NikkeList::-webkit-scrollbar-track {
    background: transparent;
}

.NikkeInfo {
    background: none;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    display: flex;
    margin: 5px;
    height: 120px;
    width: 775px;
}

.NikkeInfo .ProfileImg {
    height: 100%;
    width: auto;
    mask-image: linear-gradient(to right, transparent, black 10%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 80%, transparent);
}

#NameAndTag {
    width: 60%;
    position: relative;
}

#NameAndTag #Detail {
    display: none;
    /* 기본적으로 숨김 */
    position: absolute;
    top: -25%;
    /* div 아래쪽에 위치 */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 10;
    text-align: left;
}

.Detailtitle {
    margin: 5px;
    font-size: 18px;
    text-align: center;
}

.Detailtitle>div {
    display: grid;
    max-height: 190px;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto);
    margin: 5px;
    font-size: 18px;
    justify-items: center;
}

.NikkeName {
    width: auto;
    font-size: 22px;
    text-align: left;
    margin: 2px;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#NikkeTags {
    max-width: 389px;
    max-height: 75px;
    flex-wrap: wrap;
    overflow: auto;
    display: flex;
}

.NikkeTag {
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    margin: 2px;
    border: 1px solid;
    border-radius: 7px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#NikkeTags .NikkeTreasureTag {
    white-space: nowrap;
    margin: 2px;
    border: 1px solid;
    border-radius: 7px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.5);
    color: #f5b5b5;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#NikkeTags::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#NikkeTags::-webkit-scrollbar-track {
    background: transparent;
}

.NikkeInfo .NikkeMarks {
    display: flex;
    width: auto;
}

.NikkeInfo .NikkeMarks .Marksdiv1 {
    width: 81.6334px;
    align-content: center;
}

.NikkeInfo .NikkeMarks .Marksdiv1 img {
    padding: 3px 0px 3px;
    margin-left: 50%;
}

.NikkeInfo .NikkeMarks .Marksdiv2 {
    width: 81.6334px;
    align-content: center;
}

.NikkeInfo .NikkeMarks .Marksdiv2 img {
    padding: 3px 0px 3px;
    margin-left: 20%;
}

.Search {
    display: block;
    width: 20%;
    padding: 2px;
    height: fit-content;
    border: 2px solid rgb(64, 64, 67);
    border-radius: 5px;
    background-color: rgb(28, 29, 33);
}

.Search #SelectedTagList {
    display: flex;
    min-height: 30px;
    height: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid rgb(95, 95, 99);
    border-radius: 5px;
}

#SelectedTags {
    flex: 1;
    height: auto;
    min-height: 25px;
    padding: 2px;
}

#Reset {
    width: 100%;
    height: auto;
}

.SelectedTag {
    margin: 1px;
}

#SearchButton {
    width: auto;
}

.Search #SearchBar {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    height: 30px;
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid rgb(95, 95, 99);
    border-radius: 5px;
    background-color: rgb(28, 29, 33);
}

.Search #SearchBar:focus {
    outline: none;
}

#TagList {
    width: 100%;
    height: 100%;
}

#TagList .Tag {
    margin: 1px;
    border: 1px solid;
    border-radius: 5px;
}

#TagList .Tag:hover {
    background-color: rgb(193, 193, 193);
}

.container {
    display: inline-block;
    position: relative;
    padding: 20px;
    background: lightblue;
    cursor: pointer;
}

.popup-box {
    display: none;
    /* 기본적으로 숨김 */
    position: absolute;
    top: 110%;
    /* div 아래쪽에 위치 */
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 10;
}

.container:hover .popup-box {
    display: block;
    /* hover하면 보이기 */
}