body {
    background-color: rgb(40, 40, 46);
}

.LogoPlace {
    align-content: center;
    height: 100px;
    background-color: rgb(28, 29, 33);
    border-bottom: 1px solid;
    border-color: rgb(64, 64, 67);
    margin-bottom: 35px;
}

.LogoPlace .Logo {
    width: 198px;
    height: 109px;
}

.MainHomeBanner {
    margin: 0 auto;
    width: 1200px;
    height: 667px;
    background-image: url(MainHomeImg/MainBanner.png);
    background-size: 100% 100%;
}

.blank {
    height: 50px;
}

.MainContainer {
    display: flex;
    height: auto;
    justify-content: center;
}

#NikkeList {
    width: 44%;
    margin-right: 10px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(28, 29, 33);
}

.NikkeInfo {
    background: none;
    cursor: pointer;
    border: none;
    background-image: url(NikkeCard/NikkeCardImg/elysion.png);
    background-repeat: no-repeat;
    display: flex;
    margin: 10px 0px 0px 0px;
    height: 120px;
    width: 775px;
}

.NikkeInfo .NikkeName {
    width: auto;
    font-size: 30px;
    margin: 0;
    align-content: center;
    color: white;
}

.NikkeInfo .NikkeTags {
    width: 45%;
    display: flex;
}

.NikkeInfo .NikkeTags p {
    color: white;
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
}

.NikkeInfo .NikkeMarks {
    display: flex;
    width: auto;
}

.NikkeInfo .NikkeMarks .Marksdiv1 {
    width: 81.6334px;
    align-content: center;
}

.NikkeInfo .NikkeMarks .Marksdiv1 img {
    padding: 3px 0px 3px;
    margin-left: 50%;
}

.NikkeInfo .NikkeMarks .Marksdiv2 {
    width: 81.6334px;
    align-content: center;
}

.NikkeInfo .NikkeMarks .Marksdiv2 img {
    padding: 3px 0px 3px;
    margin-left: 20%;
}


.Search {
    display: block;
    width: 20%;
    padding: 2px;
    height: 5000px;
    border: 2px solid rgb(64, 64, 67);
    border-radius: 5px;
    background-color: rgb(28, 29, 33);
}

.Search .SelectedTagList {
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid rgb(95, 95, 99);
    border-radius: 5px;
}

.Search #SearchBar {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    height: 30px;
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid rgb(95, 95, 99);
    border-radius: 5px;
    background-color: rgb(28, 29, 33);
}

.Search #SearchBar:focus {
    outline: none;

}

.ProfileImg {
    height: 100%;
    width: auto;
}